.page {
  &__how {
  }
}

.how {
  &__container {
    display: grid;
    row-gap: rem(30);

    @media (min-width: $tablet) {
      grid-template-columns: 1fr prc(750, 1420);
    }
  }

  &__content {
    @include adaptiveValue('padding-right', 95, 30, 1);

    @media (max-width: $tablet) {
      text-align: center;
      padding-right: 0;
    }
  }

  &__title {
    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 30, 20, 1);
    }
  }

  &__text {
    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 48, 30, 1);
    }
  }

  &__steps {
  }

  &__image {
  }
}

.title {
  &_s64 {
  }
}
.text {
}

.steps-how {
  &__item {
    display: flex;
    align-items: flex-start;
    max-width: rem(490);
    gap: rem(32);

    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 48, 30, 1);
    }

    @media (max-width: $tablet) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(110);
    height: rem(110);
    background-color: rgba(0, 128, 0, 0.1);
    border-radius: 50%;
    flex: 0 0 rem(110);
  }

  &__body {
  }

  &__title {
    font-size: rem(20);
    font-weight: $thirdFontWeight;

    &:not(:last-child) {
      margin-bottom: rem(16);
    }
  }

  &__text {
  }
}

.image-block {
  position: relative;
  align-self: start;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: rem(20);
  overflow: hidden;
  @include adaptiveValue('padding-top', 165, 30, 1);
  @include adaptiveValue('padding-left', 45, 15, 1);
  @include adaptiveValue('padding-right', 45, 15, 1);
  @include adaptiveValue('padding-bottom', 165, 30, 1);

  &::before,
  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    border: 1px solid #ffffff;
    @include adaptiveValue('width', 585, 350, 1);
    @include adaptiveValue('height', 585, 350, 1);
    top: 0;
    right: 0;
  }

  &::before {
    transform: translate(50%, calc(-50% + rem(225)));
  }

  &::after {
    transform: translate(calc(50% - rem(15)), calc(-50% + rem(155)));
  }

  &__item {
    display: flex;
    justify-content: center;

    img {
      max-width: 100%;
      border-radius: rem(20);
    }
  }
}
