<section class="page__download download">
  <div class="download__container-big">
    <div class="download__container">
      <div class="download__body">
        <h2 class="download__title download__title_s56 title">Download <span>FarmVest app</span> and invest in your
          future</h2>

        <div class="download__apps">
          <a class="download__app" href="#">
            <img src="../../assets/img/main/download/app.png" alt="App store">
          </a>
          <a class="download__google" href="#">
            <img src="../../assets/img/main/download/google.png" alt="Google play">
          </a>
        </div>

        <div class="download__circle download__circle_1"></div>
        <div class="download__circle download__circle_2"></div>
      </div>
    </div>
  </div>
</section>