<footer class="footer">
  <div class="footer__container-big">
    <div class="footer__container">
      <div class="footer__main main-footer">
        <div class="main-footer__info">
          <a class="main-footer__logo" href="#">
            <img src="../../assets/img/footer/footer-logo.svg" alt="Footer logo">
          </a>
          <div class="main-footer__text text">
            High level experience in web design and development knowledge, producing quality work.
          </div>
        </div>

        <div class="main-footer__form form-main">
          <div class="form-main__text text">
            Subscribe to stay tuned for new web design and latest updates. Let's do it!
          </div>
          <form action="#" class="form-main__form form">
            <input class="form__input" data-required="email" type="text" name="form[]" autocomplete="off"
              data-error="Error" placeholder="Enter your email">
            <button class="form__button button" type="submit">Subscribe</button>
            <div class="form__error">Error</div>
          </form>
        </div>

        <div class="main-footer__contacts">
          <div class="main-footer__social">
            <div class="main-footer__label">Follow us</div>
            <div class="social">
              <a class="social__item" href="#">
                <img src="../../assets/img/footer/icons/inst.svg" alt="Instagram">
              </a>
              <a class="social__item" href="#">
                <img src="../../assets/img/footer/icons/fb.svg" alt="Facebook">
              </a>
              <a class="social__item" href="#">
                <img src="../../assets/img/footer/icons/tw.svg" alt="Twitter">
              </a>
            </div>
          </div>

          <div class="main-footer__call-us">
            <div class="main-footer__label">Call us</div>
            <a class="main-footer__phone" href="tel:+2349123456789">+2349123456789</a>
          </div>
        </div>
      </div>

      <div class="footer__bottom">
        <div class="footer__copy">© 2021 All Rights Reserved</div>

        <nav class="footer__menu menu-footer">
          <ul class="menu-footer__list">
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="#">Privacy Policy</a>
            </li>
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="#">Terms of Use</a>
            </li>
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="#">Sales and Refunds</a>
            </li>
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="#">Legal</a>
            </li>
            <li class="menu-footer__item">
              <a class="menu-footer__link" href="#">Site Map</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>