<header class="header">
  <div class="header__container-big">
    <a class='header__logo' href='#'><img src='../../assets/img/header/logo.svg' alt='Logo'></a>

    <div class="header__menu menu">
      <nav class="menu__body">
        <ul class="menu__list">
          <li class="menu__item"><a class="menu__link" href="#" data-goto=".home">Home</a></li>
          <li class="menu__item"><a class="menu__link" href="#" data-goto=".about">About</a></li>
          <li class="menu__item"><a class="menu__link" href="#" data-goto=".features">Features</a></li>
          <li class="menu__item"><a class="menu__link" href="#" data-goto=".work">How it works</a></li>
        </ul>
      </nav>
    </div>

    <div class="header__actions">
      <button class="header__button button button_border" type="button">Sign In</button>
      <button class="header__button button" type="button" data-da=".menu__body, 767.98">Get Started</button>
      <button type="button" class="icon-menu"><span></span></button>
    </div>
  </div>
</header>