<section class="page__how how">
  <div class="how__container-big">
    <div class="how__container">
      <div class="how__content">
        <h2 class="how__title title title_s64 home">How <span>FarmVest</span> Works</h2>
        <div class="how__text text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu, mollis aenean sit dictum tincidunt. Ut arcu,
            suscipit ac etLorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consectetur
          </p>
        </div>

        <div class="how__steps steps-how">
          <div class="steps-how__item">
            <div class="steps-how__icon">
              <img src="../../assets/img/main/how-it-works/icons/01.svg" alt="Icon">
            </div>
            <div class="steps-how__body">
              <div class="steps-how__title">Download FarmVest</div>
              <div class="steps-how__text text">
                Start by downloading FarmVest app on your Android or IOS
              </div>
            </div>
          </div>
          <div class="steps-how__item">
            <div class="steps-how__icon">
              <img src="../../assets/img/main/how-it-works/icons/02.svg" alt="Icon">
            </div>
            <div class="steps-how__body">
              <div class="steps-how__title">Create account</div>
              <div class="steps-how__text text">
                Start by downloading FarmVest app on your Android or IOS
              </div>
            </div>
          </div>
          <div class="steps-how__item">
            <div class="steps-how__icon">
              <img src="../../assets/img/main/how-it-works/icons/03.svg" alt="Icon">
            </div>
            <div class="steps-how__body">
              <div class="steps-how__title">Link your bank account</div>
              <div class="steps-how__text text">
                Start by downloading FarmVest app on your Android or IOS
              </div>
            </div>
          </div>
          <div class="steps-how__item">
            <div class="steps-how__icon">
              <img src="../../assets/img/main/how-it-works/icons/04.svg" alt="Icon">
            </div>
            <div class="steps-how__body">
              <div class="steps-how__title">Start Investing</div>
              <div class="steps-how__text text">
                Start by downloading FarmVest app on your Android or IOS
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="how__image image-block">
        <div class="image-block__item">
          <img src="../../assets/img/main/how-it-works/image.jpg" alt="Image">
        </div>
      </div>
    </div>
  </div>
</section>