<section class="page__main main-block">
  <div class="main-block__container-big">
    <div class="main-block__container">
      <div class="main-block__content">
        <h1 class="main-block__title title">The easiest and fastest way to <span>Invest</span> in Agriculture</h1>
        <div class="main-block__text text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu, mollis aenean sit dictum tincidunt. Ut arcu,
          suscipit ac etLorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consectetur
        </div>

        <div class="main-block__form">
          <form action="#" class="form">
            <input class="form__input" data-required="email" type="text" name="form[]" autocomplete="off"
              data-error="Error" placeholder="Enter your email">
            <button class="form__button button" type="submit">Get Started</button>
            <div class="form__error">Error</div>
          </form>
        </div>
      </div>

      <div class="main-block__icons icons-main-block">
        <div class="icons-main-block__circle icons-main-block__circle_1" data-prix-mouse></div>
        <div class="icons-main-block__circle icons-main-block__circle_2" data-prix-mouse></div>

        <div class="icons-main-block__item icons-main-block__item_1" data-prix-mouse>
          <img src="../../assets/img/header/main-block/icons/01.svg" alt="Icon">
        </div>
        <div class="icons-main-block__item icons-main-block__item_2" data-prix-mouse>
          <img src="../../assets/img/header/main-block/icons/02.svg" alt="Icon">
        </div>
        <div class="icons-main-block__item icons-main-block__item_3" data-prix-mouse>
          <img src="../../assets/img/header/main-block/icons/03.svg" alt="Icon">
        </div>
        <div class="icons-main-block__item icons-main-block__item_4" data-prix-mouse>
          <img src="../../assets/img/header/main-block/icons/04.svg" alt="Icon">
        </div>
        <div class="icons-main-block__item icons-main-block__item_5" data-prix-mouse>
          <img src="../../assets/img/header/main-block/icons/05.svg" alt="Icon">
        </div>
        <div class="icons-main-block__item icons-main-block__item_6" data-prix-mouse>
          <img src="../../assets/img/header/main-block/icons/06.svg" alt="Icon">
        </div>
        <div class="icons-main-block__item icons-main-block__item_7" data-prix-mouse>
          <img src="../../assets/img/header/main-block/icons/07.svg" alt="Icon">
        </div>
      </div>
    </div>
  </div>
</section>