<section class="page__partners partners">
  <div class="partners__container">
    <div class="partners__items">
      <div class="partners__item">
        <img src="../../assets/img/main/partners/01.svg" alt="Partners">
      </div>
      <div class="partners__item">
        <img src="../../assets/img/main/partners/02.svg" alt="Partners">
      </div>
      <div class="partners__item">
        <img src="../../assets/img/main/partners/03.svg" alt="Partners">
      </div>
      <div class="partners__item">
        <img src="../../assets/img/main/partners/04.svg" alt="Partners">
      </div>
      <div class="partners__item">
        <img src="../../assets/img/main/partners/05.svg" alt="Partners">
      </div>
    </div>
  </div>
</section>