<section class="page__pathway pathway">
  <div class="pathway__container-big">
    <div class="pathway__container">
      <div class="pathway__image image-block">
        <div class="image-block__item">
          <img src="../../assets/img/main/pathway/image.jpg" alt="Image">
        </div>
      </div>

      <div class="pathway__content">
        <h2 class="pathway__title title title_s64 about">Your <span>pathway</span> to Future Investment</h2>
        <div class="pathway__text text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu, mollis aenean sit dictum tincidunt. Ut arcu,
            suscipit ac etLorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consectetur
          </p>
        </div>

        <div class="pathway__spollers spollers-pathway" data-spollers>
          <div class="spollers-pathway__item">
            <button class="spollers-pathway__title" type="button" data-spoller>What is FarmVest?</button>
            <div class="spollers-pathway__body text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo et, aperiam dicta reprehenderit odio
              consequuntur recusandae nobis sapiente eveniet nostrum dignissimos voluptate officiis possimus tempora
              eaque voluptatibus numquam, tempore fuga.
            </div>
          </div>
          <div class="spollers-pathway__item">
            <button class="spollers-pathway__title" type="button" data-spoller>How safe is FarmVest</button>
            <div class="spollers-pathway__body text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo et, aperiam dicta reprehenderit odio
              consequuntur recusandae nobis sapiente eveniet nostrum dignissimos voluptate officiis possimus tempora
              eaque voluptatibus numquam, tempore fuga.
            </div>
          </div>
          <div class="spollers-pathway__item">
            <button class="spollers-pathway__title" type="button" data-spoller>What do I gain from using
              FarmVest?</button>
            <div class="spollers-pathway__body text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo et, aperiam dicta reprehenderit odio
              consequuntur recusandae nobis sapiente eveniet nostrum dignissimos voluptate officiis possimus tempora
              eaque voluptatibus numquam, tempore fuga.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>