<section class="page__reviews reviews">
  <div class="reviews__container-big">
    <div class="reviews__container">
      <h2 class="reviews__title title work">What <span>Customers</span> have to say</h2>
      <div class="reviews__text text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu, mollis aenean sit dictum tincidunt. Ut arcu,
        suscipit ac
      </div>

      <div class="reviews__items">
        <div class="reviews__item item-review">
          <div class="item-review__image-ibg">
            <img src="../../assets/img/main/reviews/image-1.jpg" alt="Image-1">
          </div>
          <div class="item-review__body">
            <div class="item-review__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu, mollis aenean sit dictum tincidunt. Ut
              arcu, suscipit ac
            </div>
            <div class="item-review__name">Tonia Smart</div>
          </div>
        </div>
        <div class="reviews__item item-review">
          <div class="item-review__image-ibg">
            <img src="../../assets/img/main/reviews/image-2.jpg" alt="Image-2">
          </div>
          <div class="item-review__body">
            <div class="item-review__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu, mollis aenean sit dictum tincidunt. Ut
              arcu, suscipit ac
            </div>
            <div class="item-review__name">Grace Obi</div>
          </div>
        </div>
      </div>
      <button class="reviews__button button" type="button">View All</button>
    </div>
  </div>
</section>