<section class="page__why why">
  <div class="why__container-big">
    <div class="why__container">
      <div class="why__content">
        <h2 class="why__title title title_s64 features">Why choose <span>FarmVest</span></h2>
        <div class="why__text text">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut eu, mollis aenean sit dictum tincidunt. Ut arcu,
            suscipit ac etLorem ipsum dolor sit amet.Lorem ipsum dolor sit amet, consectetur
          </p>
        </div>

        <ol class="why__steps steps-why">
          <li class="steps-why__item">Real-time Checkup</li>
          <li class="steps-why__item">Flexibility in Investment</li>
          <li class="steps-why__item">Encrypted and Secured</li>
          <li class="steps-why__item">Withdraw Anytime</li>
        </ol>
        <a class="why__button button" href="#">Learn More</a>
      </div>

      <div class="why__image image-block">
        <div class="image-block__item">
          <img src="../../assets/img/main/why/image.jpg" alt="Image">
        </div>
      </div>

    </div>
  </div>
</section>